<footer >
    <div>
        <a href="https://www.facebook.com/" target="_blank"><button id="ft_btn"><i class="fa-brands fa-facebook fa-2xl"></i></button></a>
        <a href="https://twitter.com/" target="_blank"><button id="ft_btn"><i class="fa-brands fa-twitter fa-2xl"></i></button></a>
        <a href="https://www.linkedin.com/" target="_blank"><button id="ft_btn"><i class="fa-brands fa-linkedin fa-2xl"></i></button></a>
        <a href="https://github.com/" target="_blank"><button id="ft_btn"><i class="fa-brands fa-github fa-2xl"></i></button></a>
    </div>
    
    <button id="logo"><img src="../../assets/fokus_1.png" alt="FOKUS"></button>
    <h3> &copy; 2023 FOKUS.All rights Reserved.</h3>
  </footer>
