
<div id="gif">
    <img src="../../assets/edit_profile.gif" alt="message gif">
</div>

<main class="container d-flex">
    <section>
      <div class="lx-container-70">
        <div class="lx-row">
          <h1 class="title">Edit your profile <i class="fa-sharp fa-solid fa-user-pen"></i></h1>
        </div>
        <div class="lx-row align-stretch">
          <div id="profile_pic" class="lx-column column-user-pic">
            <div class="profile-pic bs-md">
              <h1 class="pic-label">Profile picture</h1>
              <div class="pic bs-md">
                <img src="{{userDetails.profile_pic}}" alt="Profile picture" width="4024" height="6048">
                <label for="file" id="change-avatar" class="lx-btn"><i class="fas fa-camera-retro"></i>&nbsp;&nbsp;Change your profile picture.</label>
                <input type="file" id="file" (change)="selectChange($event)">
              </div>
              <div class="pic-info">
                <p><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;This photo will appear on the platform, in your contributions or where it is mentioned.</p>
              </div>
            </div>
          </div>
          <div id="details">
            <form action="get">
              <div  class="fieldset">
                <label for="user-name">Name</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-user"></i></span>
                  <input type="text" id="user-name" value="{{userDetails.username}}" autocomplete="username" required>
                </div>
                <div id="user-name-helper" class="helper">
                  <h5>Your name can appear on the platform, in your contributions or where it is mentioned.</h5>
                </div>
              </div>
              <div class="fieldset">
                <label for="email">E-mail</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <input type="email" id="email" value="{{userDetails.email}}" autocomplete="username" readonly> 
                </div>
                <div id="email-helper" class="helper"></div>
              </div>
              <div class="fieldset">
                <label for="pass">Current Password</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-key"></i></span>
                  <input type="password" id="pass"  autocomplete="current-password">
                </div>
                <div id="pass-helper" class="helper"></div>
              </div>
              <div class="fieldset">
                <label for="pass">Password</label>
                <div class="input-wrapper">
                  <span class="icon"><i class="fas fa-key"></i></span>
                  <input type="password" id="pass" autocomplete="current-password">
                </div>
                <div id="pass-helper" class="helper"></div>
              </div>
              <div class="actions">
                <a id="cancel" class="lx-btn"><i class="fas fa-ban"></i>&nbsp;&nbsp;Cancel</a>
                <a id="clear" class="lx-btn"><i class="fas fa-broom"></i>&nbsp;&nbsp;Clear</a>
                <a id="save" class="lx-btn"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

