<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6" id="standard">
                <div class="pricingTable orange">
                    <div class="pricingTable-header">
                        <h3 class="title">Standard</h3>
                        <div class="price-value">
                            <span class="price-currency">$</span>
                            <span class="amount">10.00</span>
                            <span class="duraton">per month</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Bandwidth</li>
                        <li class="disable">Maintenance</li>
                        <li class="disable">15 Subdomains</li>
                    </ul>
                    <div class="pricingTable-signup">
                        <a href="#">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6" id="premium">
                <div class="pricingTable gold">
                    <div class="pricingTable-header">
                        <h3 class="title">Business</h3>
                        <div class="price-value">
                            <span class="price-currency">$</span>
                            <span class="amount">20.00</span>
                            <span class="duraton">per month</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Bandwidth</li>
                        <li>Maintenance</li>
                        <li class="disable">15 Subdomains</li>
                    </ul>
                    <div class="pricingTable-signup">
                        <a href="#">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
