<div>
    <img src="../../assets/kanban.png" alt="background" id="img1">
    <div id="login-form" [class.mat-elevation-z2]="true">
        <a href=""></a>
            <h2>Reset Password</h2>
            <div *ngIf="!validity">
                <h2>Link has been Expired</h2>
                <p>
                    Go back to Forgot Password page and re-send the link..!!!
                </p>
            </div>
            <div class="success_gif" *ngIf="validitySuccess">
                <img src="../../assets/git/successfully.gif" width="125px"  alt="" srcset="">
            </div>
            <form *ngIf="validityForm" [formGroup]="formPass" (submit)="onSubmit()">
                <mat-form-field appearance="outline" >
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" formControlName="password">
                </mat-form-field>
        
                <mat-form-field appearance="outline" >
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" name="confirm_password" formControlName="confirm_password">
                </mat-form-field>
                <button mat-raised-button type="submit" [disabled]="!formPass.valid">Submit</button>
            </form>
            <button *ngIf="!validity" mat-raised-button routerLink="/forgetPassword">Back</button>
            <div *ngIf="validitySuccess">
                <p>{{updated}}</p>
                <p >in {{time}} sec back to login page</p>
            </div>
            
        </div>
</div>