<div>
    <img src="../../assets/kanban.png" alt="background" id="img1">
    <!-- <h1>Welcome Back</h1> -->
    <div id="login-form" [class.mat-elevation-z2]="true">
        <a href=""></a>
            <h2>Login</h2>

            <form [formGroup]="loginForm" (submit)="onLogin()">
                <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="email?.errors?.['required']">
                        Email is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error *ngIf="password?.invalid">
                        Password required
                    </mat-error>
                </mat-form-field>
                <button mat-mini-fab color="primary" type="submit" [disabled]="!loginForm.valid"><mat-icon>arrow_forward_ios</mat-icon></button>
                <div id="register" routerLink="/forgetPassword">
                    <p>forgot Password?</p>
                    <button mat-mini-fab  color="warn" type="submit" [disabled]="!loginForm.valid"><mat-icon>arrow_forward_ios</mat-icon></button>
                </div>
                <button mat-mini-fab color="warn" routerLink="/home" id="btn"><mat-icon id="back">arrow_back_ios</mat-icon></button>
            </form>
        </div>
</div>

    