<div class="container">
    <h1 class="text-center">Pricing</h1>
    <div class="d-flex justify-content-between">
        <mat-card >
            <mat-card-header class="card_title">
                <mat-card-title>
                    <h2 >Free</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
        </mat-card>
        
        <mat-card >
            <mat-card-header class="card_title">
                <mat-card-title>
                    <h2 >Free</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
                <button></button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
        </mat-card>
    </div>
</div>