
<div>

<mat-card class="task-card">
    <div>
        
        <mat-card-header>
          <mat-card-title>{{task.name}} 
            <div>
              <img src="{{userDetails?.profile_pic}}" matTooltip="{{userDetails?.email}}" alt="profile pictures">
            </div>
          </mat-card-title>
          <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
        </mat-card-header>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
           
            <button mat-menu-item (click)="deleteTask(task)">
              <mat-icon>delete</mat-icon>
              <span>Delete Task</span>
            </button>
          </mat-menu>
    
    </div>
        <mat-card-content>
      <button mat-icon-button type="button" [matTooltip]="task.priority!"><mat-icon id='{{task.priority}}'>flag</mat-icon></button>
    </mat-card-content>
    <mat-card-actions>
       
            <mat-select  name="status" [(ngModel)]="task.status" #status="ngModel" (selectionChange)="changeStatus(task)">
            <mat-option *ngFor= "let status of statuses" [value]="status">{{status}}</mat-option>
        </mat-select>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

</div>

