@font-face {
    font-family: 'Kanyon';
    src: url('../../assets/fonts/Fontspring-DEMO-kanyonnr-regular.otf');
}

#task-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgba(247,246,245); */
    background-color: white;
  
    
}

h1{
    color: #626062;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family: "kanyon";
}

.task-status{
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    
}


h1:active{
    border-bottom: 1px solid orange;
}

h1:hover{
    border-bottom: 2px solid orange;
    border-radius: 0px;
    color: #202021;
}

#done{
    color: green;
    margin-right: 10px;
    padding-top: 2px;
}

mat-icon{
    margin-right: 10px;
    padding-top: 2px;
}

#non-responsive{
    pointer-events: none;
}

.task-status{
    height: 600px;
    overflow-y: auto;
}