@font-face {
    font-family: 'Kanyon';
    src: url('../../assets/fonts/Fontspring-DEMO-kanyonnr-regular.otf');
}

#task-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    overflow-y: hidden;
    
}

h1{
    color: #626062;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.task-status{
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;
    
}


h1:active{
    border-bottom: 1px solid orange;
}

h1:hover{
    border-bottom: 2px solid orange;
    border-radius: 0px;
    color: #202021;
}

#done{
    color: green;
    margin-right: 10px;
    padding-top: 2px;
}

mat-icon{
    margin-right: 10px;
    padding-top: 2px;
}

.card_container{
    background-color: #e2e2e6;
    border-radius: 20px;
    height: 480px;
    overflow-x: auto;
    overflow-y: auto;
}

.card_container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 10px;
}

.card_container::-webkit-scrollbar{
    width: 6px;
	background-color: #F5F5F5;
}

.card_container::-webkit-scrollbar-thumb{
    border-radius: 10px;
	background-color: #000000;
}

.text{
    margin-top: 150px;
}

.responsive{
    pointer-events: all;
}

#non-responsive{
    pointer-events: none;
}

@media screen and (max-width: 500px){
    #task-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        background-color: transparent;
        overflow-y: hidden;
        
    }

    .task-status{
        width: 96%;
        margin-left: 1%;
        margin-right: 1%;
        
    }

}
