@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.sidenav-container {
  background-image: url('../../assets/furbg1.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar{
  position: sticky;
  height: 100px;
  top: 0;
  z-index: 1;
  background-color: transparent;
}

#navbar{
  /* background-color: rgb(14, 12, 12); */
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
#nav-btns{
  width: 30%;
  margin-right: 800px;
  
}

span{
  margin-left: 200px;
}


img{
  width: 200px;
}


#logo{
  border: none;
  background-color: transparent;
  margin-left: -9.5rem;
  width: 17rem;
}

mat-toolbar>div .btn_original{
  background-color: transparent;
  color: black;
  margin-left: 100px;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding-bottom: 5px;
  border: none;
}

mat-toolbar>div .btn_login{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: transparent;
  color: black;
  height: 40px;
  letter-spacing: 0.1rem;
  margin-left: 340px;
  font-size: 1.2rem;
  padding-bottom: 5px;
  border: none;
}

mat-toolbar>div .btn_signup{
  background-color: black;
  color: white;
  margin-left: 5%;
  height: 40px;
  margin-right: 5%;
  font-size: 1.2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 0;
  /* border-radius: 15px; */
}

mat-toolbar>div .btn_login:hover{
  background-color: black;
  color: white;
  transition: all 0.5s ease;
  border-radius: 10px;
}

#btn2{
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    width: 100px;
    margin-left: 10px;
}

#btn2:hover{
  border-radius: 30px;
  width: 100px;
  background-color: black;
  color: white;
}

#btn4{
  margin-top: 10px;
  background-color: transparent;
  border: 0;
  width: 150px;
  margin-left: -15px;
}

#btn4:hover{
  border-radius: 30px;
  width: 150px;
  background-color: black;
  color: white;
}

h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  
  margin-top: 10px;
  margin-left: 20px;
}

#menu{
  position: fixed;
  top: 30px;
  left: 1720px;
}


#btn3{
  background-color: transparent;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: black;
  width: 150px;
  border-radius: 10px;
}

#btn3:hover{
  background-color: black;
  color: white;
  transition: all 0.5s ease;
  width: 150px;
  border-radius: 10px;
}

.toolbar_change{
  background-color: #cdd8e0;
  height: 100px;
  position: sticky;
  transition: all 0.2s linear;
  top: 0px;
  z-index: 1;
  box-shadow: 0px 15px 10px -15px #111;
}
mat-toolbar .btn_change{
  margin-left: 100px;
  height: 40px;
  margin-right: 5%;
  font-size: 1rem;
  border: 0;
  border-bottom: 0px;
  padding-bottom: 5px;
}


mat-toolbar .btn_login_change{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 40px;
  letter-spacing: 0.1rem;
  margin-left: 50px;
  font-size: 1.2rem;
  padding-bottom: 5px;
  border: none;
}

mat-toolbar .btn_signup_change{
  background-color: black;
  color: white;
  margin-left: 5%;
  height: 40px;
  margin-right: 5%;
  font-size: 1.2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 0;
}

#user{
  position: absolute;
  top: 20px;
  right: 40px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 0;
  margin-right: 8px;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
}

#user_img{
  position: relative;
  top: -1px;
  right: 6px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 0;
}

#list{
  margin-top: 10px;
  background-color: #f5d775;
  border-radius: 10px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media screen and (max-width: 500px){
  #btn3{
    display: none;
  }
  #btn5{
    display: none;
  }
}