

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Login</a>
      <a mat-list-item href="#">Sign Up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <mat-toolbar id="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
   
      <span><button id="logo"><img src="../../assets/FOKUS-01.png" alt="" routerLink="/home"></button></span>
   
      <button  mat-flat-button id="btn" routerLink="/contact">Contact Us</button>
      <button mat-raised-button color="primary" id="btn1" (click)="login()">Log In</button>
      <button mat-raised-button id="btn2" routerLink="/register">Sign Up</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- <app-home ></app-home> -->
    <!-- Add Content Here -->
  </mat-sidenav-content> 
</mat-sidenav-container>

