

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Login</a>
      <a mat-list-item href="#">Sign Up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="scrollFunc($event)">
   
    <mat-toolbar id="navbar" [ngClass]="toolbar_variable?'toolbar_change':'mat-toolbar'" >
    <div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
   
      <span><button id="logo"><img src="../../assets/fokus_1.png" alt="" routerLink="/home" ></button></span>

    </div>
      
    <div id="nav-btns">
      <button id="btn3" [ngClass]="toolbar_variable?'btn_change':'btn_original'"  routerLink="/contact" [hidden]="isAdmin">Contact</button>
      <button id="btn3"  [ngClass]="toolbar_variable?'btn_change':'btn_original'" routerLink="/pricing"> Pricing</button>
      <button id="btn3" [ngClass]="toolbar_variable?'btn_change':'btn_original'" routerLink="/about">About Us</button>
      <button id="btn3" [ngClass]="toolbar_variable?'btn_change':'btn_original'" routerLink="/support" [hidden]="!isAdmin" >Support</button>
        <img *ngIf="tokenExist" [matMenuTriggerFor]="menu" id="user" src="{{userDetails.profile_pic}}" alt="">
        <button *ngIf="!userDetails.profile_pic && tokenExist"  [matMenuTriggerFor]="menu" id="user"><i class="fa-solid fa-{{firstLetter}}"></i></button>
        <mat-menu #menu="matMenu" xPosition="before">
            <h2 *ngIf="tokenExist">Hi, {{userDetails.username}}</h2>
            <button id="btn4" routerLink="/edit">Edit Profile <i class="fa-sharp fa-solid fa-user-pen"></i></button><br>
            <button id="btn2"  color="warn" [ngClass]="toolbar_variable?'btn_login_change': 'btn_login'" (click)="logout()">Log Out <i class="fa-solid 
              fa-right-from-bracket"></i></button><br>
        </mat-menu>       
     
      <button id="btn3" color="primary" [ngClass]="toolbar_variable?'btn_login_change':'btn_login'" (click)="login()" *ngIf="!tokenExist">Log in</button>
    </div>
   
      
    </mat-toolbar>
  
      <router-outlet ></router-outlet>
      
    
  </mat-sidenav-content> 
 
  
</mat-sidenav-container>

