@font-face {
    font-family: 'kanyon';
    src: url('../../assets/fonts/Fontspring-DEMO-kanyon-boldit.otf');
}


button{
    background-color: #ffe07a;
}

#cards{
    margin-top: 20px;
    height: 450px;
    background-color: #e2e2e6;
    border: 0;
    border-radius: 20px;
    overflow: auto;
    overflow-x: hidden;
}

#contents{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 90px;
}

#members{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: -30px;
    left: 90px;
}

#title{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

#img{
    position: relative;
    top: 20px;
    right: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 0;
    margin-right: 8px;
    -webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.35);
}

ul{
    list-style-type: none;
}

#main-container{
    height: 760px;
    background-color: transparent;
    overflow: hidden;
}


#plus_icon{
    font-size: 50px;
    margin-left: 70px;
    margin-top: 20px;
}

#plus{
    margin-left: 60px;
    cursor: pointer;
}

#addMember{
    position: fixed;
    top: 500px;
    left: 1150px;
    border: 5px dashed green;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

#delete{
    background-color: transparent;
    color: black;
}

#delete:hover{
    color: red;
}

#top-bar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

span{
    color: red;
    font-size: 30px;
}
mat-tab-group{
    background-color: #e2e2e6;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}


mat-card{
    background-color: white;
}

.btn{
    display: flex;
    height: min-content;
    justify-content: space-between;
}

h1{
    /* font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;

}
 h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
 }

#progress{
   /* position: absolute;
   right: 450px; */
   margin-top: -5rem;
   margin-left: 1rem;

}

#value{
    margin-left: 2.5rem;
}


#percentage{
    padding-top: 3px;
}

#progress-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 4rem;

}


#card{
    width: max-content;
    height: 5.5rem;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
@media screen and (max-width: 500px){
    #top-bar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 2rem;
        background-color: white;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; */
    }
    #main-container{
        height: auto;
        width: auto;
        overflow: hidden;
    }
    .disabled-tab{
        display: none;
        visibility: hidden;
    }

}
