<div id="main-container">
    <div id="top-bar" >
        <div *ngIf="projectDetails?.name" layout="row" layout-xs="column">
            <h1>{{projectDetails.name}}</h1>
            <p>Project Start date : {{projectDetails.startDate | date : "dd/MM/yyyy"}} End date : {{projectDetails.duration | date : "dd/MM/yyyy"}}</p>
        </div>
        <div *ngIf="!projectDetails?.name">
          <div class="d-flex">
            <h1>Welcome - {{userName}}</h1>
            <img *ngIf="title" id="title" src="../../assets/crown.png" alt="" srcset="">
          </div>
            <h2>Select the <span>Project</span> to work On</h2>

        </div>

        <div id="progress-bar" *ngIf="projectDetails?.name" layout="row" layout-xs="column"> 
          <h2 id="bar"> Task Completed In <mat-icon id="percentage">percentage</mat-icon> :</h2>
          <div>
            <h2 *ngIf="projectDetails.name" id="value">{{value}}<mat-icon id="percentages">percentage</mat-icon></h2>
            <h2 *ngIf="!projectDetails.name" id="value">0<mat-icon id="percentages">percentage</mat-icon></h2>
            <div id="progress">
                <mat-progress-spinner
              class="example-margin"
              color="primary"
              mode="determinate"
              [value]="value">
                </mat-progress-spinner>
              </div>
          </div>
         
          
        </div>
        
        
       
        <mat-card id="card">
          <mat-card-content class="btn">
              
                <button class="me-5" *ngIf="isArchiveStatus ==='LIVE'"  mat-fab matTooltip="Add New Task's to Project" (click)="taskDialog()" >
                  <mat-icon>add</mat-icon>
                </button>
                <button class="me-5" *ngIf="isArchiveStatus ==='ARCHIVE'" mat-fab matTooltip="Remove from Archive Project" (click)="changeProjectState()"><i class="fa-solid fa-boxes-packing"></i></button>
                <button class="me-5" *ngIf="isArchiveStatus ==='LIVE'" mat-fab matTooltip="Add New Member to Project" (click)="addMember()" [disabled]="creator">
                  <mat-icon>group_add</mat-icon>
                </button><br><br><br><br>
                <button  matTooltip="Delete the Project" mat-fab (click)="deleteProject()" *ngIf="isArchiveStatus ==='ARCHIVE'">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-fab matTooltip="Archive This Project" *ngIf="isArchiveStatus ==='LIVE'" (click)="deleteProject()" [disabled]="creator"><mat-icon>archive</mat-icon></button>
      
            </mat-card-content>
        </mat-card>
    </div>
        
        <mat-tab-group color="warn"> 
            <mat-tab>
              <ng-template mat-tab-label>
                <h2 id="head">TASK</h2>
              </ng-template>
              <mat-card class="scrollable-content">
                <mat-card-content>
                  <app-task-board [taskListData]="projectDetails.taskList"></app-task-board>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="Description">
              <ng-template mat-tab-label>
                <h2 id="head">DESCRIPTION</h2>
              </ng-template>
                <mat-card  class="scrollable-content">
                 
                  <mat-card-content>

                    <div id="cards" class="container card">
                      <h3 id="contents">{{projectDetails!.description}} </h3>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            <mat-tab label="Members">
              <ng-template mat-tab-label>
                <h2 id="head">MEMBERS</h2>
              </ng-template>
              <mat-card  class="scrollable-content">
               
                <mat-card-content>
                  <div id="cards" class="container">
                    <div [hidden]="(isArchiveStatus === 'ARCHIVE')" *ngIf="!creator" id="addMember">
                      <h2 id="plus" (click)="addMember()">
                        <i id="plus_icon" class="fa-solid fa-circle-plus"></i><br><br>
                        ADD NEW MEMBER <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TO PROJECT
                      </h2>
                  </div>
                    <ul *ngFor="let member of projectDetails?.assigned_empl">
                      <li><img *ngIf="member.profile_pic" id="img" src="{{member?.profile_pic}}" alt="image"><button *ngIf="!member.profile_pic" id="img"><i class="fa-solid fa-{{member.username?.charAt(0)}}"></i></button>
                        <h3 id="members">{{member?.email}}  &nbsp;&nbsp;&nbsp;<button [disabled]="creator || isArchiveStatus === 'ARCHIVE'" (click)="removeMember(member)" matTooltip="Remove Member from Project" id="delete" mat-icon-button color="accent"><i class="fa-solid fa-user-slash"></i></button></h3></li>   
                  </ul>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab class="disabled-tab" disabled></mat-tab>
            <mat-tab class="disabled-tab" disabled></mat-tab>
            <mat-tab class="disabled-tab" disabled></mat-tab>
          </mat-tab-group>

</div>
