<div id="main-container">
    <div id="top-bar">
        <div *ngIf="projectDetails.name">
            <h1>{{projectDetails.name}}</h1>
            <p>{{projectDetails.duration}} </p>
        </div>
        <div *ngIf="!projectDetails.name">
            <h1>WELCOME ABOARD - {{userName}}</h1>
            <h2>Click On the <span>Projects</span> and Get Started</h2>

        </div>

        <h2 id="bar"> TASK COMPLETED In <mat-icon id="percentage">percentage</mat-icon> :</h2>
        <div id="progress">
          <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="determinate"
        [value]="value">
          </mat-progress-spinner>
        </div>
        <h1 id="value">{{value}}<mat-icon id="percentages">percentage</mat-icon></h1>
        <mat-card id="card">
          <mat-card-content class="btn">
              
                <button mat-fab (click)="taskDialog()">
                  <mat-icon>add</mat-icon>
                </button><br><br><br><br>
                <button mat-fab (click)="addMember()">
                  <mat-icon>group_add</mat-icon>
                </button><br><br><br><br>
                <button mat-fab (click)="deleteProject()">
                  <mat-icon>delete</mat-icon>
                </button>
      
            </mat-card-content>
        </mat-card>
    </div>
        
        <mat-tab-group color="warn"> 
            <mat-tab>
              <ng-template mat-tab-label>
                <h1>TASK</h1>
              </ng-template> -->
              <mat-card class="scrollable-content">
               
                <mat-card-content>
                  <app-task-board [taskList]="projectDetails.taskList"></app-task-board>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab label="Description">
              <!-- <ng-template mat-tab-label>
                <h1>Description</h1>
              </ng-template> -->
                <mat-card  class="scrollable-content">
                 
                  <mat-card-content>
                    <p>{{projectDetails.description}} </p>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            <mat-tab label="Members">
              <!-- <ng-template mat-tab-label>
                <h1>Members</h1>
              </ng-template> -->
              <mat-card  class="scrollable-content">
               
                <mat-card-content>
                    <ul *ngFor="let member of projectDetails?.assigned_emp">
                        <li>{{member}}</li>
                    </ul>
                </mat-card-content>
              </mat-card>
            </mat-tab>
            <mat-tab disabled></mat-tab>
            <mat-tab disabled></mat-tab>
            <mat-tab disabled></mat-tab>
          </mat-tab-group>

</div>
