<h1 mat-dialog-title>Add a New Task</h1>
<p>{{data?.project_id}}</p>
<div mat-dialog-content>
  <form #task="ngForm" (ngSubmit)="addTask(task)">

    <div id="rows">
    <div id="col-1">
      <mat-form-field appearance="outline">
        <mat-label>Task Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="formData.name" #name="ngModel" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>task Description</mat-label>
        <input matInput type="text" name="description" [(ngModel)]="formData.description" #description="ngModel" required>
      </mat-form-field>
    </div>
    <label id="example-radio-group-label">Task Priority :</label>
      <mat-radio-group name="priority" #priority="ngModel" [(ngModel)]="formData.priority" required>
          <mat-radio-button class="example-radio-button" *ngFor="let priority of priorities" [value]="priority" >
            {{priority}}
          </mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline">
        <mat-label>Select Status</mat-label>
        <mat-select  name="status" [(ngModel)]="formData.status" #status="ngModel" required >
        <mat-option *ngFor= "let status of statuses" [value]="status">{{status}}</mat-option>
    </mat-select>
    </mat-form-field>

    <!-- <label id="example-radio-group-label">Priority :</label><br> -->

    <mat-radio-group name="priority" #priority="ngModel" [(ngModel)]="formData.priority" required>
      <mat-radio-button class="example-radio-button" *ngFor="let priority of priorities" [value]="priority" >
        {{priority}}
      </mat-radio-button>
  </mat-radio-group>

    </div>
    
      <mat-form-field appearance="outline">
        <mat-label>task Description</mat-label>
        <textarea matInput type="text" name="description" [(ngModel)]="formData.description" #description="ngModel" required></textarea>
      </mat-form-field>

    </div>
   
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <!-- <button mat-button  type="submit" >Ok</button> -->
      <button mat-button [mat-dialog-close]="formData.description" type="submit" [disabled]="task.form.invalid">Save</button>
      
    </div>
        </mat-select>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="task.form.invalid">Save</button>
  </form>
</div>
