
<h1>
   One Web App to <br><br> FOCUS on all of <br><br> your PROJECTS.
</h1><br>

<h2>Collab With your Collegues. <br> <mat-icon id="icon">check_circle</mat-icon> Be_Productive <br><mat-icon id="icon">check_circle</mat-icon> be_fokused</h2>

<div>
   <video autoplay [muted]="true" loop src="../../assets/pm.mp4"></video>
</div>


<input class="c-checkbox" type="checkbox" id="checkbox">
<div class="c-formContainer">
  <form class="c-form" action="">
    <input class="c-form__input" placeholder="E-mail" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
    <label class="c-form__buttonLabel" for="checkbox">
      <button class="c-form__button" type="button">Send</button>
    </label>
    <label class="c-form__toggle" for="checkbox" data-title="Get Started"></label>
  </form>
</div>

<section>
    <h2>Premium Products? <br> Coming Soon...</h2>
</section>

<section id="section1">
    <h2>USERS rating from all over the World <br><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><span id="rating">  BASED ON +10,000 ratings</span></h2>
</section>
