
<h1>
   One Web App to focus on all your projects.
</h1>

<!-- <h2><b>Collaborate With your collegues <br> All of your work in one place: </b> <br><mat-icon id="icon">check_circle</mat-icon> Task Management  <br><mat-icon id="icon">check_circle</mat-icon> Goals <br><mat-icon id="icon">check_circle</mat-icon> Chat Support and many more..</h2> -->

<div>
 <img id="gif" src="../../assets/gif1.gif" alt="GIF">
</div>

<div>
   <video id="video1" autoplay [muted]="true" loop src="../../assets/pm.mp4"></video>
</div>


<input class="c-checkbox" type="checkbox" id="checkbox">
<div class="c-formContainer">
  <form class="c-form" action="">
    <input class="c-form__input" placeholder="E-mail" type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
    <label class="c-form__buttonLabel" for="checkbox">
      <button class="c-form__button" type="button">Send</button>
    </label>
    <label class="c-form__toggle" for="checkbox" data-title="Get Started" *ngIf="name" routerLink="/dashboard"></label>
    <label class="c-form__toggle" for="checkbox" data-title="Get Started" *ngIf="!name" routerLink="/register"></label>
  </form>
</div>

<!-- <section>
    <h2>Premium Products? <br> Coming Soon...</h2>
</section> -->

<!-- <section id="section1"> -->
    <!-- <h3><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><mat-icon id="star">grade</mat-icon><span id="rating"> Based on 1000 <mat-icon>+</mat-icon> reviews</span></h3> -->
<!-- </section> -->


<footer>
  <app-footer></app-footer>
</footer>



