
<div>
    <img id="gif" src="../../assets/gif2.gif" alt="GIF@">
</div>

    <h1>Get Started <br> 
        <h3>Create Your Account Now</h3></h1>


<div id="register-form" [class.mat-elevation-z2]="true">
    <h2>SignUP</h2>
    <form [formGroup]="registerForm" (submit)="onRegister()">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="name?.errors?.['required']">
                Name is required.
            </mat-error>
            <mat-error *ngIf="name?.errors?.['minlength']">
                Name should have minimum of 3 characters.
            </mat-error>


        </mat-form-field>
        <mat-form-field appearance ="outline">
            <mat-label>Email Id</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required.
            </mat-error>
            <mat-error *ngIf="email?.errors?.['pattern']">
                Please enter email with correct pattern ( @, .com etc..)
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="password?.invalid">
                Password required
            </mat-error>
         
        </mat-form-field>

        <button mat-raised-button color="warn" type="submit" [disabled]="!registerForm.valid">Register</button>
        <asl-google-signin-button type='standard' size='large' id="google" shape="pill" theme="outline" text="continue_with" *ngIf="!user"></asl-google-signin-button>

    </form>

    
</div>
